/* TODO : 머리말 */
#page {
  width: 99vw;
  margin: 0 auto;
}
nav {
  width: 100%;
  margin: 0 auto;
}
.brand {
  text-align: center;
  padding: 1.5rem;
  font-weight: 100;
  font-size: 2rem;
}
.fab img {
  width: 2rem;
}
.fab {
  position: absolute;
  left: 15px;
  top: 25px;
}
.menu li {
  float: left;
  width: 50%;
  border: 1px solid var(--black);
}
.menu li a {
  display: block;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}
.menu {
  margin: 0 15px 0 15px;
}
.menu li a:hover {
  background-color: var(--black);
  color: var(--white);
}
/* TODO : 꼬리말 */
.clear {
  clear: both;
}
#address-detail h3 {
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  padding: 5px;
}
#address-detail p {
  text-align: center;
}
#customer {
  float: left;
}
#customer p {
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 20px;
}
#owner {
  float: right;
  margin-top: 100px;
  margin-right: 20px;
}
